

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Domine:wght@500&family=Ubuntu:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Ubuntu";
    background-color: whitesmoke;
}





h1{
    font-size: 70px;
    position: relative;
    top: 150px;

}

.main-container{
  position: relative;
    top: 150px;
    padding-left: 300px;   
    margin: 25px;
}

.form-control{
    width: 650px;
}

.col-form-label{
    width: 640px;
}


.main-submit{
    font-size: 21px;
    position: relative;
    top: 160px;
    left: 600px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
}

.main-submit:hover{
    color: black;
    background-color: lightblue;
}