*{
    margin: 5px;
    padding: 5px;
}



.sign-button{
    border: 3px solid red;
    color: black;
    border-radius: 20px;
        text-decoration: none;
        width: 70px;

}



.sign-button:hover {
    color: yellow;
    background-color: blue;
}





